{% block content %}
<h2>Account Info</h2>
<ul>
    <li>Username: {{ user.username }} </li>
    <li>Levels: {{ user.levels }} </li>
    <li>Date_Joined: {{ user.date_joined }} </li>
    <li>Is_Active: {{ user.is_active }} </li>
    <li>Is_Staff: {{ user.is_staff }} </li>
    <li>Is_Superuser: {{ user.is_superuser }} </li>
</ul>

<h2>My Profile</h2>
<ul>
    <li>First Name: {{ user.first_name }} </li>
    <li>Last Name: {{ user.last_name }} </li>
    <li>Email: {{ user.email }} </li>
    <li>Telephone: {{ user.telephone}} </li>
    <li>Nikename: {{ user.nikename }} </li>
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'blog:profile_update' user.id %}">Edit</a>
| <a href="{% url 'blog:pwd_change' user.id %}">ChangePwd</a>
| <a href="{% url 'blog:logout' %}">Logout</a>
| <a href="{% url 'blog:index' %}">Home</a>
{% endif %}

{% endblock %}
